# SPDX-FileCopyrightText: Copyright (c) 2023 - 2024 NVIDIA CORPORATION & AFFILIATES.
# SPDX-FileCopyrightText: All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

project: # Project name
  name: AWS_Dataset
  
exp_tag: 1 # Experiment tag
# Main output directory.
output: outputs/${project.name}/${exp_tag}

hydra: # Hydra config
  run:
    dir: ${output}
  output_subdir: hydra  # Default is .hydra which causes files not being uploaded in W&B.

data: # Input directory for training and validation data
  input_dir: /lustre/rranade/modulus_dev/data/volume_data/
  input_dir_val: /lustre/rranade/modulus_dev/data/volume_data_val/
  bounding_box: # Bounding box dimensions for computational domain
    min: [-3.5, -2.25 , -0.32]
    max: [8.5 , 2.25  , 3.00]
  bounding_box_surface: # Bounding box dimensions for car surface
    min: [-1.1, -1.2 , -0.32]
    max: [4.5 , 1.2  , 1.2]

# The directory to search for checkpoints to continue training.
resume_dir: ${output}/models

variables:
  surface:
    solution:
      # The following is for AWS DrivAer dataset.
      pMeanTrim: scalar
      wallShearStressMeanTrim: vector
  volume:
    solution:
      # The following is for AWS DrivAer dataset.
      UMeanTrim: vector
      pMeanTrim: scalar
      nutMeanTrim: scalar

model:
  model_type: surface # train which model? surface, volume, combined
  loss_function: "rmse" # mse or rmse
  interp_res: [128, 64, 48] # resolution of latent space
  use_sdf_in_basis_func: true # SDF in basis function network
  positional_encoding: false # calculate positional encoding?
  volume_points_sample: 8192 # Number of points to sample in volume per epoch
  surface_points_sample: 8192 # Number of points to sample on surface per epoch
  geom_points_sample: 200_000 # Number of points to sample on STL per epoch
  surface_neighbors: true # Pre-compute surface neighborhood from input data
  num_surface_neighbors: 7 # How many neighbors?
  use_surface_normals: true # Use surface normals and surface areas for surface computation?
  use_only_normals: true # Use only surface normals and not surface area
  integral_loss_scaling_factor: 10 # Scale integral loss by this factor
  normalization: min_max_scaling # or mean_std_scaling
  geometry_rep: # Hyperparameters for geometry representation network
    base_filters: 16
    geo_conv:
      base_neurons: 32 # 256 or 64
      base_neurons_out: 1
      radius_short: 0.1
      radius_long: 0.5 # 1.0, 1.5
      hops: 1
    geo_processor:
      base_filters: 32
    geo_processor_sdf:
      base_filters: 8
  nn_basis_functions: # Hyperparameters for basis function network
    base_layer: 512
  aggregation_model: # Hyperparameters for aggregation network
    base_layer: 512
  position_encoder: # Hyperparameters for position encoding network
    base_neurons: 512
  geometry_local: # Hyperparameters for local geometry extraction
    neighbors_in_radius: 64
    radius: 0.05 # 0.2 in expt 7
    base_layer: 512

train: # Training configurable parameters
  epochs: 500
  checkpoint_interval: 1
  dataloader:
    batch_size: 1
    pin_memory: true
  sampler:
    shuffle: true
    drop_last: false

val: # Validation configurable parameters
  dataloader:
    batch_size: 1
    pin_memory: true
  sampler:
    shuffle: true
    drop_last: false

eval: # Testing configurable parameters
  test_path: /lustre/rranade/benchmarking/drivaer_aws_surface_test_new/
  save_path: /lustre/rranade/domino/mesh_predictions_surf_final1/

data_processor: # Data processor configurable parameters
  kind: drivaer_aws # must be either drivesim or drivaer_aws
  output_dir: /lustre/rranade/modulus_dev/data/volume_data/
  input_dir: /lustre/datasets/drivaer_aws/drivaer_data_full/
  num_processors: 24
